# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\РАБОТА\Новая\FinalProject 22.03.19 последняя версия\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
